  @import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Kosugi&family=Koulen&family=Work+Sans:wght@200;300&display=swap');

    * {
      padding: 0px;
      margin: 0px;
      text-decoration: none;
    }
    /* Navbar style */
    .navbar {
      position: fixed;
      width: 100%;
      background-color: #212124;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 50px;
      opacity: 90%;
      margin-top: 5px;
      z-index: 999;
    }

    .navbar .navbar-nav .nav-link {
      color: #fff;
    }

    .navbar-nav {
      margin-right: 20px;
      gap: 20px;
    }
    .navbar-nav a {
      font-family: Koulen;
      font-size: 14px;
      color: #fff;
    }

    .container-fluid {
      display: flex;
      justify-content: space-around;
      padding: 0px 20px 0px;
    }

    .navbar-brand {
      color: #fff;
      font-family: Koulen;
      font-size: 28px;
      font-style: normal;
    }

    .nav-icon ul {
      display: flex;
      justify-content: center;
      margin-bottom: 0px;
    }

    /* Hero style */
    .hero {
      width: 100%;
      text-align: center;
    }

    .bg-hero {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      background-image: url(/09_codeCompetance1/project/assets/img/bg-hero.jfif);
      background-repeat: no-repeat;
      background-size: cover;
      object-position: center;
      height: 700px;
    }

    .hero h1 {
      font-family: Koulen;
      font-size: 32px;
      color: #000;
      margin-top: 65px;
    }

    .hero p {
      font-family: Kosugi;
      font-size: 20px;
      color: #000;
      text-align: center;
      width: 600px;
    }

    .bg-hero .hero .hero-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0px 10px 0px;
    }
    .bg-hero .hero a{
      background-color: #080809;
      padding: 10px 20px 10px;
      border-radius: 25px;
      margin-left:0px ;
      margin-top: 20px;
      font-family: Kosugi;
      font-size: 24px;
      text-decoration: none;
      color: #fff;
    }

    /* product contenct */
    .content h1{
        text-align: center;
    }
    .title {
      display: flex;
      justify-content: center;
      padding: 20px 0px 20px;
    }
    .title label h1 {
      font-family: Koulen;
      font-size: 28px;
    }
    .main-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 2rem;
      margin-bottom: 10px;
    }
    .content-product {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .product {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .product .product-image {
      width: 200;
      height: 200px;
    }
    .product .product-image img {
      width: 100%;
      height: 100%;
    }
    .product p {
      text-align: center;
      font-family: Kosugi;
      font-size: 14px;
    }
    .product .btn-buy {
      background-color: #080809;
      width: 150px;
      display: flex;
      justify-content: center;
      padding: 10px 15px 10px;
      border-radius: 25px;
      opacity: 78%;
    }
    .product .btn-buy a{
      text-decoration: none;
      color: #fff;
    }

    .contact-us {
      display: flex;
      width: 100%;
      justify-content: space-around;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .contact-us .card .card-body{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .contact-us .card .card-body .card-text{
      text-align: center;
    }
    .form-input .form-control {
      background-color: aqua;
    }
    .form-input .form-input-name {
      display: flex;
      gap: 10px;
    }

    /* footer */
    .footer {
      background-color: #080809;
      border-radius: 20px;
      width: 100%;
    }

    .footer .content-footer {
      display: grid;
      padding: 20px 30px 10px;
      grid-template-columns: repeat(auto-fit, minmax(200px, 5fr));
      gap: 2rem;
    }

    .content-footer h1 {
      color: #fff;
      font-family: Koulen;
      font-size: 36px;
      font-style: normal;
    }

    h2 {
      color: #fff;
      font-family: Kosugi;
      font-weight: 400;
      font-size: 28px;
      margin-bottom: 20px;
    }

    .media-sosial ul li a {
      margin-left: 1rem;
      color: #fff;
      text-decoration: none;
      font-family: Kosugi;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
    }

    .about p {
      color: #fff;
      font-size: 16px;
      font-family: Kosugi;
      font-style: normal;
      font-weight: 400;
    }

    .media-sosial li {
      list-style: none;
    }

    .media-sosial ul {
      display: grid;
      flex-direction: row;
      gap: 10px;
      padding: 0px 0px 0px;
    }

    .footer .about .info .no-hp {
      border: 2px;
      border-style: solid;
      border-color: #888181;
      background-color: #888181;
      border-radius: 15px;
      padding: 5px 10px 5px;
      margin-bottom: 10px;
    }

    .footer .about .info .no-hp p {
      margin: 0px 0px 0px;
      color: black;
    }

    .footer .copyright {
      border: 1px solid;
      border-top-color: #fff;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      width: 100%;
      text-align: center;
      padding: 3px 8px 3px;
    }

    .footer .copyright label {

      font-family: Work Sans;
      font-size: 12px;
      font-weight: 200;
      color: #fff;
    }

    /* responsive ukuran layar 848px */
    @media (max-width:848px) {
      .bg-hero {
      width: 100%;
      height: 650px;
    }
    }
    @media (max-width:600px){
      .navbar {
      width:100%;
      z-index: 999;
    }
      .bg-hero {
      width: 100%;
      background-size: cover;
      height: 500px;
    }

    }
    @media (max-width:554px){
      .main-content {
        width: 100%;
      }
      .navbar {
      width:100%;
      z-index: 999;
    }
    
      .bg-hero {
      width: 100%;
      height: 500px;
      background-size: cover;
    } 
    .title {
      width: 600px;
    }
    .content {
     justify-content: space-between;
    }
  }